<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>&lt;p class=&quot;MsoNormal&quot;&gt;&lt;font size=&quot;4&quot; face=&quot;Times New Roman&quot;&gt;&lt;span lang=&quot;EN-US&quot;&gt;The Arcadia GRE Course is an interactive, comprehensive course conveniently available on the iPad and iPhone. &lt;/span&gt;&lt;span class=&quot;metadatafieldreadonly&quot;&gt;&lt;span lang=&quot;EN-US&quot; style=&quot;&quot;&gt;You have everything you need to prepare for entering the business school of your dream, in your pocket, on the go. It is a self-paced course, yet there is help available if you are stuck.&lt;/span&gt;&lt;/span&gt;&lt;span lang=&quot;EN-US&quot;&gt;&lt;br style=&quot;&quot; /&gt;
&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;
&lt;p class=&quot;MsoNormal&quot;&gt; &lt;/p&gt;
&lt;p class=&quot;MsoNormal&quot;&gt;&lt;font size=&quot;4&quot; face=&quot;Times New Roman&quot;&gt;&lt;span lang=&quot;EN-US&quot;&gt;Based on the materials created by Nova Press, it is the equivalent of over 600 pages of printed material, including hundreds of GRE examples and problems. Arcadia Prep takes Nova Press&amp;rsquo;s materials and problem sets, and adds advanced study features to make your preparation more effective.&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;
&lt;p class=&quot;MsoNormal&quot;&gt; &lt;/p&gt;
&lt;p class=&quot;MsoNormal&quot;&gt;&lt;font size=&quot;4&quot; face=&quot;Times New Roman&quot;&gt;&lt;span class=&quot;metadatafieldreadonly&quot;&gt;&lt;span lang=&quot;EN-US&quot; style=&quot;&quot;&gt;- Modular sections and problem sets for all 3 sections of the GRE&lt;/span&gt;&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;
&lt;p class=&quot;MsoNormal&quot;&gt;&lt;font size=&quot;4&quot; face=&quot;Times New Roman&quot;&gt;&lt;span class=&quot;metadatafieldreadonly&quot;&gt;&lt;span lang=&quot;EN-US&quot; style=&quot;&quot;&gt;- Workspace and Pen Tools&lt;/span&gt;&lt;/span&gt;&lt;span lang=&quot;EN-US&quot;&gt;&lt;br /&gt;
&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;
&lt;p class=&quot;MsoNormal&quot;&gt;&lt;font size=&quot;4&quot; face=&quot;Times New Roman&quot;&gt;&lt;span class=&quot;metadatafieldreadonly&quot;&gt;&lt;span lang=&quot;EN-US&quot; style=&quot;&quot;&gt;- Step-by-step solution accessible from each problem&lt;/span&gt;&lt;/span&gt;&lt;span lang=&quot;EN-US&quot;&gt;&lt;br /&gt;
&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;
&lt;p class=&quot;MsoNormal&quot;&gt;&lt;font size=&quot;4&quot; face=&quot;Times New Roman&quot;&gt;&lt;span class=&quot;metadatafieldreadonly&quot;&gt;&lt;span lang=&quot;EN-US&quot; style=&quot;&quot;&gt;- Help. Post a question in the discussion board (registration required) and an expert will answer your question&lt;/span&gt;&lt;/span&gt;&lt;span lang=&quot;EN-US&quot;&gt; &lt;br /&gt;
&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;
&lt;p class=&quot;MsoNormal&quot;&gt;&lt;font size=&quot;4&quot; face=&quot;Times New Roman&quot;&gt;&lt;span class=&quot;metadatafieldreadonly&quot;&gt;&lt;span lang=&quot;EN-US&quot; style=&quot;&quot;&gt;- Create a 3-minute video explanation in 3 minutes, or post a text response to answer others&amp;rsquo; questions&lt;/span&gt;&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;
&lt;p class=&quot;MsoNormal&quot;&gt;&lt;font size=&quot;4&quot; face=&quot;Times New Roman&quot;&gt;&lt;span class=&quot;metadatafieldreadonly&quot;&gt;&lt;span lang=&quot;EN-US&quot; style=&quot;&quot;&gt;- Keep track of your scores and pace yourself with the built-in timer&lt;/span&gt;&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;</string>
		<key>name</key>
		<string>The Arcadia GRE Course</string>
	</dict>
	<dict>
		<key>content</key>
		<string>&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;page_11&quot;&gt;&lt;/a&gt;&lt;a id=&quot;frontmatter01section01&quot;&gt;&lt;/a&gt;What Does the GRE Measure?&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;The GRE is an aptitude test. Like all aptitude tests, it must choose a medium in which to measure intellectual ability. The GRE has chosen math and English.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;OK, the GRE is an aptitude test. The question is—does it measure aptitude for graduate school? The GRE’s ability to predict performance in school is as poor as the SAT’s. This is to be expected since the tests are written by the same company (ETS) and are similar. The GRE’s verbal section, however, is significantly harder (more big words), and, surprisingly, the GRE’s math section is slightly easier.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;No test can measure all aspects of intelligence. Thus any admission test, no matter how well written, is inherently inadequate. Nevertheless, some form of admission testing is necessary. It would be unfair to base acceptance to graduate school solely on grades; they can be misleading. For instance, would it be fair to admit a student with an A average earned in easy classes over a student with a B average earned in difficult classes? A school’s reputation is too broad a measure to use as admission criteria: many students seek out easy classes and generous instructors, in hopes of inflating their GPA. Furthermore, a system that would monitor the academic standards of every class would be cost prohibitive and stifling. So, until a better system is proposed, the admission test is here to stay.&lt;/p&gt;

&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;frontmatter01section02&quot;&gt;&lt;/a&gt;Format of the GRE&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;The GRE is approximately four hours long. Only three-hours-and-ten-minutes of the test count toward your score—the experimental section is not scored.&lt;/p&gt;
&lt;p class=&quot;image&quot;&gt;&lt;img src=&quot;gre_nova_images/11.jpg&quot; alt=&quot;images&quot;&gt;&lt;/p&gt;
&lt;p class=&quot;para1&quot;&gt;The math and verbal sections can appear in any order. Also, the questions within each section can appear in any order. For example, in the math section, the first question might be a graph, the second and third questions quantitative comparisons, and the fourth question multiple choice.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;There is a one-minute break between each section and a ten-minute break following the writing section.&lt;/p&gt;
&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;page_12&quot;&gt;&lt;/a&gt;&lt;a id=&quot;frontmatter01section03&quot;&gt;&lt;/a&gt;Experimental Section&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;The GRE is a standardized test. Each time it is offered, the test has, as close as possible, the same level of difficulty as every previous test. Maintaining this consistency is very difficult—hence the experimental section. The effectiveness of each question must be assessed before it can be used on the GRE. A problem that one person finds easy another person may find hard, and vice versa. The experimental section measures the relative difficulty of potential questions; if responses to a question do not perform to strict specifications, the question is rejected.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;The experimental section can be a verbal section or a math section. You won’t know which section is experimental. You will know which type of section it is, though, since there will be an extra one of that type.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;Because the “bugs” have not been worked out of the experimental section—or, to put it more directly, because you are being used as a guinea pig to work out the “bugs”—this portion of the test is often more difficult and confusing than the other parts.&lt;/p&gt;

&lt;p class=&quot;indent-para&quot;&gt;This brings up an ethical issue: How many students have run into the experimental section early in the test and have been confused and discouraged by it? Crestfallen by having done poorly on, say, the first—though experimental—section, they lose confidence and perform below their ability on the rest of the test. Some testing companies are becoming more enlightened in this regard and are administering experimental sections as separate practice tests. Unfortunately, ETS has yet to see the light.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;Knowing that the experimental section can be disproportionately difficult, if you do poorly on a particular section you can take some solace in the hope that it may have been the experimental section. In other words, do not allow one difficult section to discourage your performance on the rest of the test.&lt;/p&gt;
&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;frontmatter01section04&quot;&gt;&lt;/a&gt;Research Section&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;You may also see a research section. This section, if it appears, will be identified and will be last. The research section will not be scored and will not affect your score on other parts of the test.&lt;/p&gt;
&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;frontmatter01section05&quot;&gt;&lt;/a&gt;The Computer Based Test &amp;amp; the Paper&amp;amp;Pencil Test&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;The computer based GRE uses the same type of questions as the paper-&amp;amp;-pencil test. The only difference is the medium, that is the way the questions are presented.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;There are advantages and disadvantages to the computer based test. Probably the biggest advantages are that you can take the computer based test just about any time and you can take it in a small room with just a few other people—instead of in a large auditorium with hundreds of other stressed people. One the other hand, it is easier to misread a computer screen than it is to misread printed material, and it can be distracting looking back and forth from the computer screen to your scratch paper.&lt;/p&gt;

&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;page_13&quot;&gt;&lt;/a&gt;&lt;a id=&quot;frontmatter01section06&quot;&gt;&lt;/a&gt;Pacing&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;Although time is limited on the GRE, working too quickly can damage your score. Many problems hinge on subtle points, and most require careful reading of the setup. Because undergraduate school puts such heavy reading loads on students, many will follow their academic conditioning and read the questions quickly, looking only for the gist of what the question is asking. Once they have found it, they mark their answer and move on, confident they have answered it correctly. Later, many are startled to discover that they missed questions because they either misread the problems or overlooked subtle points.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;To do well in your undergraduate classes, you had to attempt to solve every, or nearly every, problem on a test. Not so with the GRE. In fact, if you try to solve every problem on the test, you will probably damage your score. For the vast majority of people, the key to performing well on the GRE is not the number of questions they solve, within reason, but the percentage they solve correctly.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;The level of difficulty of the second verbal or math section you see will depend on how well you perform on the first verbal or math section. If you do well on the first verbal section, then the second section will be a little harder. And if you do poorly on the first math section, then the second section will be a little easier. Within each section, you can change answers and skip questions and later return to them (“mark and review” feature). But once you leave a section, you cannot return to it.&lt;/p&gt;
&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;frontmatter01section07&quot;&gt;&lt;/a&gt;Scoring the GRE&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;The three major parts of the test are scored independently. You will receive a verbal score, a math score, and a writing score. The verbal and math scores range from 130 to 170, in 1-point increments. The writing score is on a scale from 0 to 6. In addition to the scaled score, you will be assigned a percentile ranking, which gives the percentage of students with scores below yours.&lt;/p&gt;
&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;frontmatter01section08&quot;&gt;&lt;/a&gt;Skipping and Guessing&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;If you can eliminate even one of the answer-choices, guessing can be advantageous. We’ll talk more about this later.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;Often students become obsessed with a particular problem and waste time trying to solve it. To get a top score, learn to cut your losses and move on.&lt;/p&gt;

&lt;p class=&quot;indent-para&quot;&gt;If you are running out of time, randomly guess on the remaining questions. This is unlikely to harm your score. In fact, if you do not obsess about particular questions, you probably will have plenty of time to solve a sufficient number of questions.&lt;/p&gt;
&lt;p class=&quot;indent-para&quot;&gt;Because the total number of questions answered contributes to the calculation of your score, you should answer ALL the questions—even if this means guessing randomly before time runs out.&lt;/p&gt;
&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;page_14&quot;&gt;&lt;/a&gt;&lt;a id=&quot;frontmatter01section09&quot;&gt;&lt;/a&gt;The “2 out of 5” Rule&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;It is significantly harder to create a good but incorrect answer-choice than it is to produce the correct answer. For this reason usually only two attractive answer-choices are offered. One correct; the other either intentionally misleading or only partially correct. The other three answer-choices are usually fluff. This makes educated guessing on the GRE immensely effective. If you can dismiss the three fluff choices, your probability of answering the question successfully will increase from 20% to 50%.&lt;/p&gt;
&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;frontmatter01section10&quot;&gt;&lt;/a&gt;Computer Screen Options&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;When taking the test, you will have eight on-screen options/buttons:&lt;/p&gt;
&lt;p class=&quot;center-parammmmm&quot;&gt;&lt;strong&gt;Quit&amp;nbsp;&amp;nbsp;&amp;nbsp;Section&amp;nbsp;&amp;nbsp;&amp;nbsp;Time&amp;nbsp;&amp;nbsp;&amp;nbsp;Help&amp;nbsp;&amp;nbsp;&amp;nbsp;Next&amp;nbsp;&amp;nbsp;&amp;nbsp;Confirm&amp;nbsp;&amp;nbsp;&amp;nbsp;Tag&amp;nbsp;&amp;nbsp;&amp;nbsp;Calculator&lt;/strong&gt;&lt;/p&gt;

&lt;p class=&quot;para1ddddd&quot;&gt;Unless you just cannot stand it any longer, never select Quit or Section. If you finish a section early, just relax while the time runs out. If you’re not pleased with your performance on the test, you can always cancel it at the end.&lt;/p&gt;
&lt;p class=&quot;para1ddddd&quot;&gt;The Time button allows you to display or hide the time. During the last five minutes, the time display cannot be hidden and it will also display the seconds remaining.&lt;/p&gt;
&lt;p class=&quot;para1ddddd&quot;&gt;The Help button will present a short tutorial showing how to use the program.&lt;/p&gt;
&lt;p class=&quot;para1ddddd&quot;&gt;You select an answer-choice by clicking the small oval next to it.&lt;/p&gt;
&lt;p class=&quot;para1ddddd&quot;&gt;To go to the next question, click the Next button. You will then be asked to confirm your answer by clicking the Confirm button. Then the next question will be presented.&lt;/p&gt;
&lt;p class=&quot;para1ddddd&quot;&gt;The Tag button allows you mark a question for later review.&lt;/p&gt;
&lt;p class=&quot;para1ddddd&quot;&gt;The Calculator button presents an on-screen calculator.&lt;/p&gt;
&lt;h3 class=&quot;h3am&quot;&gt;&lt;a id=&quot;frontmatter01section11&quot;&gt;&lt;/a&gt;Test Day&lt;/h3&gt;
&lt;ul class=&quot;bulletd&quot;&gt;

&lt;li&gt;Bring a photo ID.&lt;/li&gt;
&lt;li&gt;Bring a list of four schools that you wish to send your scores to.&lt;/li&gt;
&lt;li&gt;Arrive at the test center 30 minutes before your test appointment. If you arrive late, you might not be admitted and your fee will be forfeited.&lt;/li&gt;
&lt;li&gt;You will be provided with scratch paper. Do not bring your own, and do not remove scratch paper from the testing room.&lt;/li&gt;
&lt;li&gt;You cannot bring testing aids in to the testing room. This includes pens, calculators, watch calculators, books, rulers, cellular phones, watch alarms, and any electronic or photographic devices.&lt;/li&gt;
&lt;li&gt;You will be photographed and videotaped at the test center.&lt;/li&gt;
&lt;/ul&gt;
&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;page_15&quot;&gt;&lt;/a&gt;&lt;a id=&quot;frontmatter01section12&quot;&gt;&lt;/a&gt;How to Use this Book&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;The three parts of this book—(1) Math, (2) Verbal, and (3) Writing—are independent of one another. However, to take full advantage of the system presented in the book, it is best to tackle each part in the order given.&lt;/p&gt;

&lt;p class=&quot;indent-para&quot;&gt;This book contains the equivalent of a 6-week, 50-hour course. Ideally, you have bought the book at least four weeks before your scheduled test date. However, if the test is only a week or two away, there is still a truncated study plan that will be useful.&lt;/p&gt;
&lt;p class=&quot;para&quot;&gt;&amp;nbsp;&lt;/p&gt;
&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
&lt;tbody&gt;&lt;tr&gt;
&lt;td valign=&quot;top&quot;&gt;&lt;p class=&quot;tablec&quot;&gt;&amp;nbsp;&lt;/p&gt;&lt;/td&gt;
&lt;td valign=&quot;top&quot;&gt;&lt;p class=&quot;tablec1d&quot;&gt;&lt;a id=&quot;frontmatter01section12level01&quot;&gt;&lt;/a&gt;&lt;strong&gt;&lt;span class=&quot;underline&quot;&gt;Shortened Study Plan&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;
&lt;td valign=&quot;top&quot;&gt;&lt;p class=&quot;tablec&quot;&gt;&amp;nbsp;&lt;/p&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td valign=&quot;top&quot;&gt;&lt;p class=&quot;tablec&quot;&gt;&lt;strong&gt;Math&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;
&lt;td valign=&quot;top&quot;&gt;&lt;p class=&quot;tablec&quot;&gt;&lt;strong&gt;Verbal&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;
&lt;td valign=&quot;top&quot;&gt;&lt;p class=&quot;tablec&quot;&gt;&lt;strong&gt;Writing&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;

&lt;/tr&gt;
&lt;tr&gt;
&lt;td valign=&quot;top&quot;&gt;&lt;p class=&quot;tablec&quot;&gt;Substitution&lt;br&gt;Math Notes&lt;br&gt;Quantitative Comparisons&lt;br&gt;Geometry&lt;br&gt;Graphs&lt;/p&gt;&lt;/td&gt;
&lt;td valign=&quot;top&quot;&gt;&lt;p class=&quot;tablec&quot;&gt;Sentence Completions&lt;/p&gt;&lt;/td&gt;
&lt;td valign=&quot;top&quot;&gt;&lt;p class=&quot;tablec&quot;&gt;General Tips on Writing Your Essays&lt;br&gt;Analyze an Issue&lt;br&gt;Analyze an Argument&lt;/p&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;&lt;/table&gt;
&lt;p class=&quot;indent-para1&quot;&gt;The GRE is not easy—nor is this book. To improve your GRE score, you must be willing to work; if you study hard and master the techniques in this book, your score will improve—significantly.&lt;/p&gt;

&lt;h3 class=&quot;h3a&quot;&gt;&lt;a id=&quot;frontmatter01section13&quot;&gt;&lt;/a&gt;Questions and Answers&lt;/h3&gt;
&lt;p class=&quot;para&quot;&gt;&lt;strong&gt;When is the GRE given?&lt;/strong&gt;&lt;/p&gt;
&lt;p class=&quot;para&quot;&gt;The test is given year-round. You can take the test during normal business hours, in the first three weeks of each month. Weekends are also available in many locations. You can register as late as the day before the test, but spaces do fill up. So, it’s best to register a couple of weeks before you plan to take the test.&lt;/p&gt;
&lt;p class=&quot;para1ddddd&quot;&gt;&lt;strong&gt;How important is the GRE and how is it used?&lt;/strong&gt;&lt;/p&gt;
&lt;p class=&quot;para&quot;&gt;It is crucial! Although graduate schools may consider other factors, the vast majority of admission decisions are based on only two criteria: your GRE score and your GPA.&lt;/p&gt;
&lt;p class=&quot;para1ddddd&quot;&gt;&lt;strong&gt;How many times should I take the GRE?&lt;/strong&gt;&lt;/p&gt;
&lt;p class=&quot;para&quot;&gt;Most people are better off preparing thoroughly for the test, taking it one time and getting their top score. You can take the test at most five times a year, but some graduate schools will average your scores. You should call the schools to which you are applying to find out their policy. Then plan your strategy accordingly.&lt;/p&gt;
&lt;p class=&quot;para1ddddd&quot;&gt;&lt;strong&gt;Can I cancel my score?&lt;/strong&gt;&lt;/p&gt;
&lt;p class=&quot;para&quot;&gt;Yes. You can cancel your score immediately after the test but before you see your score. You can take the GRE only once a month.&lt;/p&gt;

&lt;p class=&quot;para1ddddd&quot;&gt;&lt;a id=&quot;page_16&quot;&gt;&lt;/a&gt;&lt;strong&gt;Where can I get the registration forms?&lt;/strong&gt;&lt;/p&gt;
&lt;p class=&quot;para&quot;&gt;Most colleges and universities have the forms. You can also get them directly from ETS by writing to:&lt;/p&gt;
&lt;p class=&quot;paral1&quot;&gt;Computer-Based Testing Program&lt;/p&gt;
&lt;p class=&quot;paral&quot;&gt;Graduate Record Examinations&lt;/p&gt;
&lt;p class=&quot;paral&quot;&gt;Educational Testing Service&lt;/p&gt;
&lt;p class=&quot;paral&quot;&gt;P.O. Box 6020&lt;/p&gt;
&lt;p class=&quot;paral&quot;&gt;Princeton, NJ 08541-6020&lt;/p&gt;
&lt;p class=&quot;paral1&quot;&gt;Or calling, 1-800-GRE-CALL&lt;/p&gt;
&lt;p class=&quot;paral1&quot;&gt;Or online: &lt;a href=&quot;http://www.gre.org&quot;&gt;www.gre.org&lt;/a&gt;&lt;/p&gt;

&lt;p class=&quot;paral1&quot;&gt;For general questions, call: 609-771-7670&lt;/p&gt;</string>
		<key>name</key>
		<string>Orientation</string>
	</dict>
	<dict>
		<key>content</key>
		<string>The Company text</string>
		<key>name</key>
		<string>Go To ArcadiaPrep.com</string>
	</dict>
</array>
</plist>
